# Created by .ignore support plugin (hsz.mobi)
.idea/.name
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.pom.xml.un~
simpl-test.iml
target/
